

.flex-page .at-row {
  margin-bottom: 40px;
  
}

  .at-col {
    padding: 10px;
    font-size: 35px;
    text-align: center;

  }

  .number{
      font-size: 50px;
  }

  .engname{
    font-size: 25px;
  }

  .totalverses{
    font-size: 25px;  
  }